*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin-top: 50px;
    margin-left: 20px;
}
.btn_dash{
    left: 500px;
    width: fit-content;
    margin-bottom: 20px;
    background-color: rgba(16, 65, 70, 0.267);
    padding: 5px 20px;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 10px;
    text-decoration: 0;
}
.btn_add{
    width: fit-content;
    margin-bottom: 20px;
    background-color: rgba(16, 65, 70, 0.267);
    padding: 5px 20px;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 10px;
    text-decoration: 0;
}
.btn_dash{
    width: fit-content;
    margin-bottom: 20px;
    background-color: rgba(16, 65, 70, 0.267);
    padding: 5px 20px;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 10px;
    text-decoration: 0;
}
.btn_add img{
    margin-right: 5px;
    height: 20px;
}

table{
    border-collapse: collapse;
    color: #404040;
}
th{
    font-size: 16px;
    border-bottom: 3px solid #000000;
    padding: 5px 20px;
    font-weight: 500;
}
td{
    font-weight: 400;
    padding: 5px 30px;
    font-size: 14px;
    text-align: center;
}
img{
    height: 25px;
}

.form{
    background-color: #f6f8f8 ;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.form form{
    display: flex;
    width: 350px;
    flex-direction: column;
}
.back_btn {
    color: #2bc48a;
    text-decoration: 0;
    display: flex;
    align-items: center;
}
.back_btn img{
    height: 16px;
    margin-right: 5px;
}
h2{
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}
.erreur_message {
    color: red;
    font-size: 12px;
}
label {
    margin-top: 5px;
    text-transform:  uppercase;
}
input{
    padding: 5px;
    border: 1px solid #999;
    outline: 0;
    margin-top: 2px;
}
input:focus{
    border: 1px solid #ffcb61;
}
input[type="submit"]{
    margin-top: 25px;
    background-color: #2bc48a;
    border-color: #2bc48a;
    border: 1px solid #2bc48a;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}